@import './common/variables.scss';
@import './components/dashboard.scss';
@import './components/event.scss';
@import './components/profile.scss';

* {
  box-sizing: border-box;
}

.site-wrapper {
  background-color: #f7fafc;
  height: 100vh;
}
